.image_crop_container {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

.image_crop_select{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }