.card{
    width: 35vw;
    margin-bottom: 12px;
  }

  .meta_user_info {
    padding: 16px 16px 12px;
  }
  .icon_container{
    display: flex;
    flex-direction: row;
  }

  .icon_click {
    font-size: 20px;
    color: rgb(111, 111, 111);
  }

  .icon_click.liked {
    color: red
  }

  .paragraph {
    padding: 4px 16px;
  }

  .like_text {
    padding: 0px 16px;
    color: gray;
  }